*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.nav-links{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 0;
    position: relative;
}
.nav-links li a:hover{
    text-decoration: underline;
}
nav .btn{  
    background: orangered;
    color: #fff;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 8px; 
    cursor: pointer;
    border: 0;
    outline: 0;
    margin-left: 10px;
    text-decoration: none;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 34% ;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-top: 100px;
}
.header-content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}
.header-content p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 60;
    max-width: 550px;
}
form {
    line-height: 180px;
}
button{
    border: 0;
    outline: 0;
    background: orangered;
    color: #fff;
    padding: 13px 35px;
    font-size: 12px;
    border-radius: 20px; 
    margin-left: 10px;
    cursor: pointer;
}
.two{
    border: 1px solid orangered;
    outline: 0;
    background: transparent;
    color: orangered;
    padding: 13px 35px;
    font-size: 12px;
    border-radius: 20px;
    border-color: orangered ;
    margin-left: 10px;
    cursor: pointer;
}
.footer{
    padding: 50px 10% 10px;
    border-top: 6px solid #333;
    color: #777;
    margin-top: 20px;
    flex-wrap: wrap;
}
.row{
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: space-between;
    line-height: 20px;
}
.footer h2{
    font-size: 29px;
    font-weight: 400;
    margin-top: 10px;
    line-height: 50px;
}
.footer .col{
    flex-basis: 24.4%;
    flex-grow: 2;
    margin-bottom: 20px;
    color: #fff;
    
}
.footer .row .col a:hover{
    text-decoration: underline;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}
.footer .col{
    flex-basis: 20%;
    flex-grow: 0;
    margin-bottom: 10px;
    color: #fff;
}
.footer col h2{
    font-size: 29px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 70px;
    color: white;
    text-align: center;
    justify-content: space-between;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer .row h2{
    font-size: 29px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 30px;
    color: white;
    margin-bottom: 3px;
}
.footer .email-signup input{
    width: 300px;
    height: 50px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 14px;   
}
.footer .email-signup button{
    background: orangered;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    padding: 13px 20px;
    border-radius: 3px;
}